
<style>
        nav{
  background-color: aliceblue;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
}
nav a{
  font-size: 20px;
}
    
</style>
<nav>
    <a href="/">Home</a>
<a href="/register">register</a>
<a href="/show">show</a>
<a href="/about">about</a>
<a href="/sendmail">Send Email</a>

</nav>